@{
    var db = Database.Open("conference-info");
    var sql = @"select FirstName, LastName, Title, Abstract, TrackName
                from sessions
                  join tracks on sessions.TrackId = tracks.TrackId
                  join Presenters on sessions.PresenterId = Presenters.PresenterId
                where Id = @0";
                
    var session = db.Query(sql, UrlData[0]).First();
    
    Page.Title = @session.Title;
}
    <div data-role="header">
      <h1>Session Info</h1>
    </div>
    
    <div data-role="content">
      <h4>@session.Title</h4>
      <p>@session.FirstName @session.LastName</p>
        
      <p>@Html.Raw(session.Abstract)</p>
      
      <p>@session.TrackName</p>
    </div>    