@{
    var db = Database.Open("conference-info");
    var sql = @"select Id, Title, FirstName, LastName, TrackName 
                from Sessions
                  join Tracks on Sessions.TrackId = Tracks.TrackId
                  join Presenters on Sessions.PresenterId = Presenters.PresenterId
                where TimeslotId = @0
                order by Sessions.TrackId";
                
    var data = db.Query(sql, UrlData[0]);
    
    Page.Title = "Session " + UrlData[0];
}
    <div data-role="header">
      <h1>Session @UrlData[0]</h1>
    </div>
    
    <div data-role="content">
        <ul data-role="listview">
            @foreach(var session in data) {
            <li><a href="/SessionDetail/@session.Id">
            <h4 style="white-space: normal;">@session.Title</h4>
            <p>@session.FirstName @session.LastName</p>
              
            <p class="ui-li-count">@session.TrackName</p>
            </a></li>
            }
        </ul>
    </div>   